<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTS Freelance Platform</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Include Header -->
    <%- include('header') %>

    <!-- Hero Section -->
    <%- include('../components/homeLayout/hero') %> <%-
    include('../components/homeLayout/postSlider') %> <%-
    include('../components/homeLayout/recentJobSlider') %>

    <!-- Scrolling Section -->

    <%- include('../components/homeLayout/workGameSection') %> <%-
    include('../components/homeLayout/homeBrowseJob') %> <%-
    include('../components/homeLayout/findTalents') %> <%-
    include('../components/homeLayout/brandSlider') %> <%-
    include('../components/homeLayout/freelanceLeader') %> <%- include('footer')
    %>
  </body>
</html>
