<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTS Freelance Platform</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
   
       <!-- Include Header -->
       <%- include('components/header') %>


    <!-- Hero Section -->
        <%- include('components/hero') %>


        <%- include('components/postSlider') %>



        <%- include('components/recentJobSlider') %>
    

    <!-- Scrolling Section -->
    
    <%- include('components/workGameSection') %>

    

    <%- include('components/homeBrowseJob') %>
    


    <%- include('components/findTalents') %>



    <%- include('components/brandSlider') %>



    <%- include('components/freelanceLeader') %>


    
    <%- include('components/footer') %>

</body>
</html>
